---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mikhail Navrotskii | Fullstack developer">
  <div class="flex flex-col md:flex-row">
    <div class="flex flex-col">
      <span>basic info</span>
      <span>contacts</span>
    </div>

    <div>
      <span>skills</span>
      <span>jobs</span>
      <span>education</span>
    </div>
  </div>
</Layout>
