---
import Card from "./Card.astro";
import Wall from "./Wall.astro";
import vstu from "/vstu.png";
---

<div class="m-2">
  <Wall title="My Education">
    <span>
      <Card
        imageUrl="https://en.itmo.ru/xdata/_svg/logo_en.svg"
        position="CAD"
        company="ITMO University"
        companyUrl="https://en.itmo.ru"
        period="2014-2018"
        location="Spb, Russia"
      />
    </span>

    <span>
      <Card
        imageUrl={vstu}
        position="Software Engineering (MS)"
        company="Volgograd State Technical University"
        companyUrl="https://www.vstu.ru/eng/"
        period="2012-2014"
        location="Volgograd, Russia"
      />
    </span>

    <span>
      <Card
        imageUrl={vstu}
        position="Computer Science (BS)"
        company="Volgograd State Technical University"
        companyUrl="https://www.vstu.ru/eng/"
        period="2008-2012"
        location="Volgograd, Russia"
      />
    </span>
  </Wall>
</div>
