---
import Card from "./Card.astro";
import Wall from "./Wall.astro";
---

<div class="m-2">
  <Wall title="My Professional Experience">
    <span>
      <Card
        imageUrl="https://avatars.githubusercontent.com/u/70884052?s=200&v=4"
        position="Fullstack Developer"
        company="Zevoy"
        companyUrl="https://www.zevoy.com"
        period="Feb 2023 - Present"
        location="Espoo, Finland"
      />
    </span>

    <span>
      <Card
        imageUrl="https://avatars.githubusercontent.com/u/23238202?s=200&v=4"
        position="Backend Developer"
        company="Brella"
        companyUrl="https://www.brella.io"
        period="Aug 2021 - Feb 2023"
        location="Helsinki, Finland"
      />
    </span>

    <span>
      <Card
        imageUrl="https://zeustrack.io/assets-new/img/logo.svg"
        position="Backend Developer"
        company="Zeustrack"
        companyUrl="https://www.zeustrack.io"
        period="Apr 2015 - Jul 2021"
        location="Espoo, Finland; Spb, Russia"
      />
    </span>

    <span>
      <Card
        imageUrl="https://habrastorage.org/getpro/moikrug/uploads/university/000/006/855/logo/a25509c024193f20603c116dd17ff222.png"
        position="Research Engineer"
        company="ITMO University"
        companyUrl="https://en.itmo.ru"
        period="Sep 2015 - Aug 2016"
        location="Spb, Russia"
      />
    </span>

    <span>
      <Card
        imageUrl="https://habrastorage.org/getpro/moikrug/uploads/company/100/004/429/0/logo/medium_515d269ea035141258c1bd4e551ba8bf.jpeg"
        position="Fullstack developer"
        company="MirTurbaz"
        companyUrl="https://mirturbaz.ru"
        period="Feb 2014 - Aug 2014"
        location="Volgograd, Russia"
      />
    </span>

    <span>
      <Card
        imageUrl="https://habrastorage.org/getpro/moikrug/uploads/company/100/006/038/4/logo/medium_53de6c80c21767a10d3d5a5a8be650cd.png"
        position="Web Developer, Internship"
        company="Intervolga"
        companyUrl="https://www.intervolga.ru/"
        period="Jan 2013 - Apr 2013"
        location="Volgograd, Russia"
      />
    </span>
  </Wall>
</div>
