---
import Skill from "./Skill.astro";
import Wall from "./Wall.astro";
import supabase from "/supabase-logo-icon.png";
---

<div class="m-2">
  <Wall
    title="My Professional Skills"
    styleClasses={[
      "grid",
      "gap-4",
      "grid-cols-2",
      "md:grod-cols-2",
      "lg:grid-cols-6",
    ]}
  >
    <span>
      <Skill icon="devicon-go-plain" name="Go" />
    </span>

    <span>
      <Skill icon="devicon-graphql-plain" name="GraphQL" />
    </span>

    <span>
      <Skill icon="devicon-postgresql-plain" name="PostgreSQL" />
    </span>

    <span>
      <Skill icon="devicon-typescript-plain" name="TypeScript" />
    </span>

    <span>
      <Skill icon="devicon-react-original" name="React" />
    </span>

    <span>
      <Skill icon="devicon-nextjs-plain" name="Next.js" />
    </span>

    <span>
      <Skill icon="devicon-tailwindcss-plain" name="Tailwind CSS" />
    </span>

    <span>
      <Skill icon="devicon-javascript-plain" name="JavaScript" />
    </span>

    <span>
      <Skill icon="devicon-amazonwebservices-original" name="AWS" />
    </span>

    <span>
      <Skill icon="devicon-react-original" name="React Native" />
    </span>

    <span>
      <Skill icon="devicon-nodejs-plain" name="Node.js" />
    </span>

    <span>
      <Skill icon="devicon-docker-plain" name="Docker" />
    </span>

    <span>
      <Skill icon="devicon-redis-plain" name="Redis" />
    </span>

    <span>
      <Skill icon="devicon-ruby-plain" name="Ruby" />
    </span>

    <span>
      <Skill icon="devicon-rails-plain" name="Ruby on Rails" />
    </span>

    <span>
      <Skill image={supabase} name="Supabase" />
    </span>

    <span>
      <Skill icon="devicon-git-plain" name="Git" />
    </span>

    <span>
      <Skill icon="devicon-github-original" name="GitHub" />
    </span>
  </Wall>
</div>
